
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background-color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
}
#box{
    height: 300px;
    width: 1200px;
    border: 2px solid white;
    padding: 25px 50px;
    display: flex;
    background-color:rgb(78, 77, 77);
    border-radius: 25px;
    position: relative;
    border: none;

    
}

.key{
    display: flex;
    position: relative;
    flex:1;
    height: 100%;
   
 
    display: flex;
    
}
.key h1{
     user-select: none;     
    pointer-events: auto;  
    cursor: pointer;
}
.white,.black{
    border-radius: 0 0 25px 25px;
    border: 2px solid black;
}



.white{
    background-color: #fff;
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.white h1{
    
    color:black;
}
.black{
    background-color: rgb(27, 26, 26);
    flex:1;
    position: absolute;
    width: 70%;
    height: 50%;
    right: 0%;
    text-align: center;
}
.black h1{
    color:white;
}




#box img{
    height: 50px;
    width: 50px;
    position: absolute;
   
    top: 50%;
    filter: brightness(0.6);
    user-select: none;
    
}
#right{
    right:0% ;
}
#left{
    left:0%;
}



#icon{
    position: absolute;
    top:-45%;
    left: 45%;
    font-size: 5rem;
    opacity: 0;

}